<style>body {
  background-color: #b1b1b1;
}

.font-daddy {
  font-family: Bangers;
  font-size: 80px;
}

p {
  font-family: Merriweather;
  font-size: 15px;
}

img {
  width: 60%;
  vertical-align: middle;
  text-align: center;
}

</style>
